

/* 
Global
    *
    body
    header
Global boxes
Global text


About page
Skills page
Projects page
Resources page
Contacts page
Music page

Code for centering a div
Fonts
Unused YouTube Embed Links

*/


/* Check */
.emphasis {
    color: rgb(255, 123, 0);
}


/* Global */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .9)), url(/portfolio-wfb/img/skills1.jpg); */
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.922), rgba(122, 39, 0, 0.2)), url(../img/background.jpg);
    /* background-image: url(/portfolio-wfb/img/skills1.jpg); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

header {
    height: 120px;
    margin-bottom: 10px;
}

/* Global text */

a {
    color: rgb(201, 115, 64);
    font-family: 'Barlow', sans-serif;
}

p {
    color: white;
    margin: 10px;
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aldrich', sans-serif;
    color: white;
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}
h3 {
    font-size: 20px;
}

.emphasis {
    color: rgb(255, 123, 0);
}

/* Global Boxes */

.title-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.233);
    background: rgb(11,1,1);
    background: linear-gradient(90deg, rgba(11,1,1,1) 3%, rgba(192, 101, 32, 0.228) 24%, rgba(11,1,1,0.5163107479319853) 35%, rgba(124, 6, 6, 0.32) 57%, rgba(0,0,0,1) 100%);
    padding: .75rem;
}
/* gradient from https://cssgradient.io/ although I customized it to my liking*/


.basic-box {
    background-color: rgba(0, 0, 0, .8);
    color: wheat;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: box-shadow .5s;
}
.basic-box ul li {
    color: rgb(255, 235, 218);
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    margin-bottom: 7px;
    list-style-type: none;
    margin-bottom: 7px;
}

.basic-box a {
    color: rgb(244, 137, 36);
    text-decoration: underline;
}
a:visited {
    color: rgb(237, 203, 171);
}

/* Home */

.hero {
    color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    height: 60vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 150px;
    text-shadow: 2px 2px 1px black;
    font-size: 20px;
    text-align: center;
}
.stripe {
    background-color: rgba(60, 0, 0, .6);
    height: 200px;
    position: absolute;
    top: 50px;
    width: 100%;
    padding-top: 50px;
}


/* About Me */


.main {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.avatar {
    height: 30rem;

}
.about-me {
    flex: 1;
}

.interests {
    display: flex;
    flex-direction: column;
}
.interests p {
    text-align: center;
    margin-bottom: 1rem;
}
.interests-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
/* .about-interests-row {
    min-width: 30rem;
    max-width: 40rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    border: 1px solid white;

}
.about-interests-row p {
    margin-right: 2rem;
    flex-basis: 30%;
} */
.tech-interests { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 40%;
    min-width: 30rem;
    padding: 1rem;
    border: 1px solid white;
}
.tech-adjacent-interests {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 40%;
    min-width: 30rem;
    padding: 1rem;
    border: 1px solid white;
    margin: .2rem;
}

.interests-list {
    font-size: 1px;
}



.list-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 28px;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    margin-top: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
}
.grid-item {
    border: 2px solid black;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.item-title h4 {
    font-size: 1.35rem;
    text-shadow: 1px 1px 5px black;

}
.songs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;


}
.song {
    border: 1px solid white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    transition: background-color .15s;
    
}
.song:hover {
    box-shadow: 0 0 10px;
    background-color: rgba(141, 75, 0, 0.164);

}


/* Grid Item Backgrounds */
.grid-item {
    background-size: cover;
}
.music-mobb {
    background-image: url(../img/music-mobb.jpg);
}
.music-hyphy {
    background-image: url(../img/music-hyphy.jpg);
}
.music-newmobb {
    background-image: url(../img/music-mobb.jpg);
}
.music-ambient {
    background-image: url(../img/music-ambient.jpg);
}
.music-soul {
    background-image: url(../img/music-soul.jpg);
}
.music-noise {
    background-image: url(../img/music-noise.jpg);
}
.music-scores {
    background-image: url(../img/music-scores.jpg);
}
.music-soul {
    background-image: url(../img/music-soul.jpg);
}
.music-instrumental {
    background-image: url(../img/music-instrumental.jpg);
}
.music-electronica {
    background-image: url(../img/music-electronica.jpg);
}
.music-shoegaze {
    background-image: url(../img/music-shoegaze2.jpg);
}
.music-memphis {
    background-image: url(../img/music-memphis2.jpg);
}
.music-backpack {
    background-image: url(../img/music1.jpg);
}
.music-eastcoast {
    background-image: url(../img/music-eastcoast2.jpg);
}

/* Skills page */



.education ul {
    list-style-type: disc;
    font-size: 18px;
}
.container {
    margin-top: 55px;
}
.education {
    height: 80%;
    width: 40%;
    padding-bottom: 75px;
    margin-left: 7%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}


.languages-frameworks {
    height: 50%;
    width: 40%;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}


.fa-brands .coming-soon {
    font-size: 8px;
    color: red;
}
.fa-brands {
    vertical-align: top;
}
.fa-brands p {
    font-size: 14px;
    font-family: 'Aldrich', sans-serif;
    color: white;
}

.fa-html5 {
    color: rgb(219, 110, 0);
    display: inline-block;
}
.fa-css3-alt {
    color: rgb(123, 0, 205);
    display: inline-block;

}
.fa-js {
    color: yellow;
}
.fa-bootstrap {
    color: rgb(123, 0, 255);
}
.fa-react {
    color: aqua;
}


/* Projects page */

/*  Page layout 
    
    main
        project-boxes
            box
    
    
    title-box


*/



main {
    display: flex;
    flex-direction: column;
}

/* Check - redundant boxes? */

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.box {
    flex: 1;
    min-width: 400px;
    background-color: rgba(0, 0, 0, .8);
    color: wheat;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: box-shadow .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 2rem 3rem;
}
.box:hover {
    box-shadow: 0 0 20px white;
}

.box h2 {
    text-decoration: underline;
    font-family: 'Aldrich', sans-serif;
}
.box p {
    color: white;
    text-align: justify;
}


@media (max-width:800) {
    .box {flex: 100%; background-color: aqua;}
}



/* Resources Page */


/* Page layout 

main
    resources intro

    resources-youtube-channels
        channels-columns
            channels-column1
                youtube-channel
                youtube-channel
                youtube-channel
            channels-column2
                channels-column2-row1
                    youtube-channel
                    youtube-channel
                channels-column2-row2
                    youtube-channel
                    youtube-channel
                channels-column2-row3
                    youtube-channel
                        resource paragraph
                        a
                        a
                        a
    resources-row
        study-habits
        websites-list
            title-box
                ul
                    li
            title-box
                ul
                    li
            title-box
                ul
                    li
    

emphasis
title-box
basic-box
vid-container
title-box

*/

.resource-title {
    font-size: 2rem;
    text-align: center;
}
.resource-paragraph {
    font-size: 1.2rem;
    text-align: center;
}



.lists {
    display: flex;
    flex-direction: column;
    list-style-type:disc;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 10px;
    margin-top: 50px;
}
.lists h3 {
    margin-bottom: 15px;
    text-decoration: underline;
    font-size: 25px;
}
.lists ul li {
    font-size: 18px;
    margin: 10px;
}




.main {
    display: flex;
    flex-direction: column;
}



.channels-columns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.channels-column1 {
    display: flex;
    flex-direction: column;

    align-items: center;
    min-width: 400px;
    max-width: 600px;
}
.channels-column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}
.channels-column2-row1 {
    display: flex;
}
.channels-column2-row2 {
    display: flex;
}
.channels-column2-row3 {
    display: flex;
}

.youtube-channel {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(20, 2, 2, 0.632);
    border: 2px solid white;
    padding: 2rem;
    margin: 1rem;
    transition:  box-shadow .5s;
    border-radius: 10px;
}
.youtube-channel:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
}



.resources-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.study-habits {
    min-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.study-habits ul {
    margin: 0 2rem;
}
.websites-list {
    min-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.websites-list ul {
    margin: 0 2rem;
}





/* Contact page */

/* Contacts page layout  

main
 h2
 fs-frm

 box-container
    a
    a
    a
    a


*/


h2 {
    text-align: center;
    margin-top: 1rem;
}
.flex-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;

}
/* Contact - Form */
#fs-frm-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}
label {
    color: white;
    padding: .5rem;
}
input {
    padding: .5rem;
}
fieldset {
    padding: 1rem;
    border: none;
}
/* Contact - Links */

.box-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.contact-box {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    border-radius: 10px;
    border: 1px solid white; 
    transition: box-shadow .1s;   
}
.contact-box:hover {
    box-shadow: 0 0 15px white;
}





/* Music page */


.music-container {
}
.music-explanation {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-57%, 5%);
    text-align: center;
}
.music-player {
    position: absolute;
    top: 70%;
    left: 54.5%;
    transform: translate(-57%, 5%);

}


























/* This is the code for centering a div */
/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-57%, 5%); */


/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Barlow&family=Bungee+Hairline&family=Dosis&family=Encode+Sans+SC&family=IBM+Plex+Mono:wght@300&family=IM+Fell+English+SC&family=Michroma&family=Montserrat+Subrayada&family=Montserrat:ital,wght@0,300;1,100&family=Nanum+Myeongjo&family=Noto+Serif+HK:wght@200&family=Odibee+Sans&family=Play&family=Prompt:wght@300&family=Raleway:wght@300&family=Rubik+Dirt&family=Russo+One&family=Silkscreen&family=Staatliches&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
CSS rules to specify families */

/* 
font-family: 'Aldrich', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Bungee Hairline', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Encode Sans SC', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'IM Fell English SC', serif;
font-family: 'Michroma', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Serif HK', serif;
font-family: 'Odibee Sans', cursive;
font-family: 'Play', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Ubuntu', sans-serif; */



/* Unused YouTube Embed Links



<a href="https://www.youtube.com/c/SteveGriffith-Prof3ssorSt3v3" target="_blank" class="resource-title">Steve Griffith</a><p>AKA Prof3ssorSt3v3</p>
 <iframe width="280" height="157.5" src="https://www.youtube.com/embed/zdubzXvqUyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


 */
